@import url("https://use.typekit.net/nhs8thv.css");
:root {
  --swiper-theme-color: #000 !important;
}

h1 {
  font-family: operetta-12, serif;
  font-weight: 600;
  font-style: normal;
}

p {
  font-weight: 300;
}

.layout {
  width: 1200px;
}

.mo {
  display: none !important;
}

nav {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  border-bottom: 1px solid #000;
}
nav .layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .layout > a {
  width: 79px;
  height: 26px;
  background: url(../img/logo.svg) 50% 50% no-repeat;
}
nav .layout div {
  display: flex;
}
nav .layout div a {
  font-size: 18px;
  font-family: "operetta-12";
  color: #000;
  margin-right: 20px;
  font-weight: 600;
  transition: 0.7s;
}
nav .layout div a:hover {
  opacity: 0.5;
}
nav .layout div .menuBtn {
  width: 30px;
  height: 14px;
  position: relative;
  z-index: 9999;
  margin-left: 10px;
}
nav .layout div .menuBtn div {
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  transition: 0.5s;
}
nav .layout div .menuBtn div:nth-child(1) {
  top: 0;
}
nav .layout div .menuBtn div:nth-child(2) {
  top: 6px;
}
nav .layout div .menuBtn div:nth-child(3) {
  top: 12px;
}
nav .layout div .menuBtn.on {
  align-items: center;
}
nav .layout div .menuBtn.on div {
  background: #000 !important;
}
nav .layout div .menuBtn.on div:nth-child(1) {
  transform: rotate(135deg);
  top: 6px;
}
nav .layout div .menuBtn.on div:nth-child(2) {
  opacity: 0;
}
nav .layout div .menuBtn.on div:nth-child(3) {
  transform: rotate(45deg);
  top: 6px;
}
nav.on {
  position: fixed;
  background: none;
  border-bottom: none;
}
nav.on a {
  opacity: 0;
}

.menu {
  width: 100vw;
  height: 100vh;
  text-align: center;
  z-index: 9000;
  padding: 80px 0;
  box-sizing: border-box;
  background: white;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition: 1s;
  top: 0;
  left: 0;
}
.menu > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu > div > div .menuImg {
  margin-right: 60px;
}
.menu > div > div .menuImg:nth-last-child(1) {
  margin-right: 0;
}
.menu > div > div .menuImg a {
  font-size: 24px;
  color: #000;
  font-family: "operetta-12";
}
.menu > div > div .menuImg a div {
  position: absolute;
  width: 900px;
  height: 600px;
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 1s;
}
.menu > div > div .menuImg:nth-child(1) a div {
  opacity: 1;
  background: url(../img/menu1.png) 50% 50%/cover no-repeat;
}
.menu > div > div .menuImg:nth-child(1) a:hover div {
  opacity: 1;
}
.menu > div > div .menuImg:nth-child(2) a div {
  background: url(../img/menu2.png) 50% 50%/cover no-repeat;
}
.menu > div > div .menuImg:nth-child(2) a:hover div {
  opacity: 1;
}
.menu > div > div .menuImg:nth-child(3) a div {
  background: url(../img/menu3.png) 50% 50%/cover no-repeat;
}
.menu > div > div .menuImg:nth-child(3) a:hover div {
  opacity: 1;
}
.menu.on {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.up {
  width: 145px;
  height: 145px;
  cursor: pointer;
  position: fixed;
  right: 60px;
  bottom: 60px;
  z-index: 9999;
}
.up div {
  position: relative;
}
.up div .rotate {
  -webkit-animation: circle 5s linear infinite;
          animation: circle 5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
}

section {
  margin-bottom: 220px;
}
section .swiper-slide {
  cursor: pointer;
}
section .swiper-pagination-fraction {
  color: #fff !important;
}
section .more {
  margin-top: 60px;
  width: 180px;
  height: 32px;
  display: block;
  color: #788887;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
}
section .more div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  box-sizing: border-box;
  border-bottom: 1px solid #788887;
  position: relative;
  overflow: hidden;
  transition: 0.7s;
}
section .more div h2 {
  font-family: operetta-12, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 22px;
}
section .more div span {
  width: 46px;
  height: 18px;
  background: url(../img/arrow.svg) 50% 50% no-repeat;
  transition: 0.7s;
}
section .more div .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #788887;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.7s;
  transform: translateY(150%);
}
section .more:hover {
  color: #fff;
}
section .more:hover div span {
  background: url(../img/arrow_w.svg) 50% 50% no-repeat;
}
section .more:hover div .bg {
  transform: translateY(0%);
}
section.on .more {
  opacity: 1;
  visibility: visible;
}

.title {
  margin-top: 100px;
}
.title .main_slide .swiper-slide {
  position: relative;
}
.title .main_slide .swiper-slide .slider_txt {
  opacity: 0;
  visibility: hidden;
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}
.title .main_slide .swiper-slide .slider_txt div {
  overflow: hidden;
}
.title .main_slide .swiper-slide .slider_txt div h1 {
  font-size: 60px;
  margin-bottom: 20px;
  transform: translateY(150%);
}
.title .main_slide .swiper-slide .slider_txt div p {
  font-family: operetta-12;
  font-size: 36px;
  font-weight: 300;
  color: #000;
  transform: translateY(150%);
}
.title .main_slide .swiper-slide .slider_txt.txt2 {
  text-align: center;
  color: #fff;
}
.title .main_slide .swiper-slide .slider_txt.txt2 p {
  color: #fff;
}
.title .main_slide .swiper-slide.swiper-slide-active .slider_txt {
  opacity: 1;
  visibility: visible;
}
.title .main_slide .swiper-slide.swiper-slide-active .slider_txt h1,
.title .main_slide .swiper-slide.swiper-slide-active .slider_txt p {
  transform: translateY(0%);
  transition: 1s;
}

.bestSeller {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.bestSeller .bsSlide {
  text-align: center;
}
.bestSeller .bsSlide h1 {
  position: absolute;
  font-size: 48px;
  top: 0;
  left: 0;
}
.bestSeller .bsSlide .swiper-slide {
  position: relative;
  padding-bottom: 20px;
}
.bestSeller .bsSlide .swiper-slide img {
  opacity: 0;
  transition: 1.5s;
}
.bestSeller .bsSlide .swiper-slide .bsTxt {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.bestSeller .bsSlide .swiper-slide .bsTxt .category {
  display: flex;
}
.bestSeller .bsSlide .swiper-slide .bsTxt .category div {
  overflow: hidden;
}
.bestSeller .bsSlide .swiper-slide .bsTxt .category div p {
  opacity: 0;
  visibility: hidden;
  transform: translateX(150%);
  font-family: "operetta-12";
  font-size: 18px;
  font-weight: 500;
  transition: 1s;
}
.bestSeller .bsSlide .swiper-slide .bsTxt .name {
  display: flex;
}
.bestSeller .bsSlide .swiper-slide .bsTxt .name div {
  overflow: hidden;
  margin-right: 16px;
}
.bestSeller .bsSlide .swiper-slide .bsTxt .name div p {
  opacity: 0;
  visibility: hidden;
  transform: translateX(150%);
  font-family: "operetta-12";
  font-size: 36px;
  font-weight: 600;
  transition: 1s;
}
.bestSeller .bsSlide .swiper-slide.swiper-slide-active img {
  opacity: 1;
}
.bestSeller .bsSlide .swiper-slide.swiper-slide-active .bsTxt > div div p {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.bestSeller .bsSlide .swiper-pagination {
  bottom: 0px !important;
}
.bestSeller .active {
  overflow: hidden;
}
.bestSeller .active h1 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(150%);
  font-size: 48px;
  transition: 1s;
}
.bestSeller.on .active h1 {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.lighting {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.lighting .ltTxt {
  width: 50%;
}
.lighting .ltTxt > div, .lighting .ltTxt > a {
  padding-left: 360px;
  padding-right: 80px;
}
.lighting .ltTxt h1 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 48px;
}
.lighting .ltSlide {
  width: 50%;
  overflow: hidden;
}
.lighting .swiper-slide {
  width: auto !important;
  opacity: 0;
  transition: 1s 0.3s;
}
.lighting .active {
  overflow: hidden;
}
.lighting .active h1,
.lighting .active p {
  opacity: 0;
  visibility: hidden;
  transform: translateY(150%);
  transition: 1s;
}
.lighting.on .active h1,
.lighting.on .active p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.lighting.on .swiper-slide {
  opacity: 1;
}

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #303030;
}
.table .now {
  width: 600px;
  height: 600px;
  transition: background-image 1s;
  position: relative;
}
.table .now .prevBtn {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url(../img/btn_prev_w.png) 50% 50% no-repeat;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.7s;
}
.table .now .prevBtn:hover {
  opacity: 1;
}
.table .now .nextBtn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url(../img/btn_next_w.png) 50% 50% no-repeat;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.7s;
}
.table .now .nextBtn:hover {
  opacity: 1;
}
.table .tbTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  height: 600px;
  flex-shrink: 0;
  padding-left: 60px;
  padding-top: 60px;
  box-sizing: border-box;
}
.table .tbTxt h1 {
  font-size: 48px;
  color: #fff;
  margin-bottom: 20px;
}
.table .tbTxt p {
  color: #fff;
}
.table .tbTxt .next {
  width: 220px;
  height: 220px;
  transition: background-image 1s;
}
.table .tbTxt .more {
  margin-top: 0;
  color: #fff;
}
.table .tbTxt .more > div {
  border-bottom: 0px solid #fff;
  position: relative;
}
.table .tbTxt .more > div::after {
  content: "";
  width: 0%;
  height: 1px;
  background: #fff;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 1s;
}
.table .tbTxt .more:hover > div::after {
  width: 100%;
}
.table [data-index="0"] {
  background: url(../img/tb1.png) 50% 50%/cover no-repeat;
}
.table [data-index="1"] {
  background: url(../img/tb2.png) 50% 50%/cover no-repeat;
}
.table [data-index="2"] {
  background: url(../img/tb3.png) 50% 50%/cover no-repeat;
}
.table [data-index="3"] {
  background: url(../img/tb4.png) 50% 50%/cover no-repeat;
}
.table [data-index="4"] {
  background: url(../img/tb5.png) 50% 50%/cover no-repeat;
}
.table [data-index="5"] {
  background: url(../img/tb6.png) 50% 50%/cover no-repeat;
}
.table .active {
  overflow: hidden;
}
.table .active .now,
.table .active .next {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-150%);
  transition: 1s;
}
.table .active h1,
.table .active p {
  opacity: 0;
  visibility: hidden;
  transform: translateY(150%);
  transition: 1s;
}
.table.on .active .now,
.table.on .active .next {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
.table.on .active h1,
.table.on .active p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.seating .thirdGrid {
  display: flex;
  margin-left: 360px;
}
.seating .thirdGrid > div {
  position: relative;
  overflow: hidden;
  margin-right: 56px;
  flex-shrink: 0;
}
.seating .thirdGrid > div img {
  display: block;
  position: absolute;
  width: 100%;
  left: 100%;
  transition: 1s;
  z-index: 10;
}
.seating .thirdGrid > div img.now {
  left: 0;
  z-index: 20;
}
.seating .thirdGrid > div img.prev {
  left: -100%;
  z-index: 0;
}
.seating .thirdGrid .first {
  width: 600px;
  height: 1200px;
}
.seating .thirdGrid .first .stTxt {
  margin-bottom: 80px;
}
.seating .thirdGrid .first .stTxt div {
  overflow: hidden;
}
.seating .thirdGrid .first .stTxt div h1 {
  opacity: 0;
  transform: translateY(150%);
  font-size: 48px;
  margin-bottom: 20px;
  transition: 1s;
}
.seating .thirdGrid .first .stTxt div p {
  opacity: 0;
  transform: translateY(150%);
  transition: 1s;
}
.seating .thirdGrid .first .por {
  position: relative;
}
.seating .thirdGrid .second {
  width: 486px;
  height: 820px;
  margin-top: 72px;
}
.seating .thirdGrid .second .btn {
  position: absolute;
  bottom: 20px;
}
.seating .thirdGrid .second .btn button {
  margin-right: 30px;
}
.seating .thirdGrid .third {
  width: 360px;
  height: 544px;
  margin-right: 0;
  margin-top: 360px;
}
.seating .prevBtn2 {
  width: 50px;
  height: 50px;
  background: url(../img/btn_prev.png) 50% 50% no-repeat;
}
.seating .nextBtn2 {
  width: 50px;
  height: 50px;
  background: url(../img/btn_next.png) 50% 50% no-repeat;
}
.seating .active {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-150%);
  transition: 1s;
}
.seating.on .active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.seating.on .stTxt div h1,
.seating.on .stTxt div p {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.design .layout {
  width: 1200px;
}
.design h1 {
  font-size: 36px;
}
.design .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  margin-top: 80px;
}
.design .content > div {
  width: 504px;
  display: inline;
}
.design .content > div h2 {
  text-align: left;
  font-family: "operetta-12";
  font-size: 24px;
  margin: 45px 0 30px;
}
.design .content > div p {
  text-align: left;
}
.design .content > div .d1 {
  width: 100%;
  height: 340px;
  background: url(../img/d1.png) 50% 50% no-repeat;
}
.design .content > div .d2 {
  width: 100%;
  height: 648px;
  background: url(../img/d2.png) 50% 50% no-repeat;
}
.design .content > div .d3 {
  width: 100%;
  height: 623px;
  background: url(../img/d3.png) 50% 50% no-repeat;
}
.design .content > div .d4 {
  width: 100%;
  height: 648px;
  background: url(../img/d4.png) 50% 50% no-repeat;
}
.design .content > div:nth-child(2), .design .content > div:nth-child(4) {
  margin-top: 104px;
}
.design .content > div:nth-child(3) {
  transform: translateY(-250px);
}
.design .active {
  overflow: hidden;
}
.design .active div,
.design .active h2,
.design .active p,
.design .active h1 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-150%);
  transition: 1s;
}
.design.on .active div,
.design.on .active h2,
.design.on .active p,
.design.on .active h1 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

.instagram {
  text-align: center;
}
.instagram h1 {
  font-size: 36px;
}
.instagram .layout {
  margin: 60px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instagram .layout div {
  margin-right: 20px;
}
.instagram .layout div a {
  display: block;
  width: 100%;
  height: 100%;
}
.instagram .layout div:nth-last-child(1) {
  margin-right: 0;
}
.instagram p {
  font-family: "operetta-12";
  font-size: 24px;
}
.instagram .active {
  overflow: hidden;
}
.instagram .active h1,
.instagram .active p,
.instagram .active a {
  opacity: 0;
  visibility: hidden;
  transform: translateY(150%);
  transition: 1s;
}
.instagram.on .active h1,
.instagram.on .active p,
.instagram.on .active a {
  opacity: 1;
  visibility: visible;
  transform: translateY(0%);
}

footer {
  border-top: 2px solid #222221;
  padding: 80px 0;
  box-sizing: border-box;
  background: #f5f5f5;
  text-align: center;
}
footer .layout {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .layout div {
  width: 360px;
}
footer .layout div h2 {
  font-size: 18px;
  color: #222221;
}
footer .layout div p {
  color: #222221;
}
footer .layout div h1 {
  color: #222221;
  margin: 20px 0;
  font-size: 36px;
}
footer .layout div a {
  transition: 0.7s;
}
footer .layout div a:hover {
  opacity: 0.8;
}
footer .layout div:nth-child(1) {
  text-align: left;
}
footer .layout div:nth-child(2) {
  text-align: center;
}
footer .layout div:nth-child(3) {
  text-align: right;
}

@-webkit-keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 450px) {
  body img {
    max-width: 100% !important;
  }
  .pc {
    display: none !important;
  }
  .mo {
    display: block !important;
  }
  .layout {
    width: auto !important;
  }
  p {
    font-size: 14px;
    word-break: break-all !important;
  }
  h1 {
    font-size: 24px !important;
  }
  h2 {
    font-size: 18px !important;
  }
  .up {
    display: none !important;
  }
  section {
    display: block !important;
    padding: 0 16px !important;
    margin-bottom: 120px;
    box-sizing: border-box;
  }
  nav {
    padding: 0 20px;
    box-sizing: border-box;
    height: 76px;
  }
  nav .layout {
    width: 100vw !important;
  }
  nav > div div a {
    display: none;
  }
  nav.on .layout > a {
    background: url(../img/logo_w.png) 50% 50%/cover no-repeat;
  }
  nav.on a {
    opacity: 1;
  }
  nav .layout div button.on div {
    background: #fff !important;
  }
  .menu {
    background: #000;
  }
  .menu .mo {
    padding: 0 20px;
    text-align: left;
    margin-top: 60px;
  }
  .menu .mo a {
    font-family: "operetta-12";
    font-size: 60px;
    color: #fff;
    display: block;
    margin-bottom: 20px;
  }
  .title {
    margin-top: 76px;
    padding: 0px !important;
  }
  .title .swiper-pagination {
    color: #fff;
  }
  .title .swiper-pagination span {
    color: #fff !important;
  }
  .bestSeller .bsSlide .active h1 {
    width: 100%;
    font-size: 36px;
  }
  .bestSeller .bsSlide img {
    margin-top: 60px;
  }
  .bestSeller .bsSlide .bsTxt {
    width: 100%;
    position: relative !important;
    transform: translate(0, 0);
  }
  .bestSeller .bsSlide .bsTxt .category {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .bestSeller .bsSlide .bsTxt .name {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .bestSeller .bsSlide .bsTxt .name p {
    font-size: 24px !important;
  }
  .lighting {
    display: flex !important;
    flex-direction: column;
  }
  .lighting .ltSlide_mo {
    width: 100%;
  }
  .lighting .ltSlide_mo .swiper-slide {
    width: 100% !important;
  }
  .lighting .ltTxt {
    order: 2;
    width: 100%;
  }
  .lighting .ltTxt > div, .lighting .ltTxt > a {
    padding: 0;
  }
  .lighting .ltTxt h1 {
    font-size: 36px;
  }
  .lighting .ltTxt p br {
    display: none !important;
  }
  .lighting .ltSlide {
    width: 100%;
  }
  .tables {
    display: flex !important;
    flex-direction: column;
    height: auto;
    padding: 48px 16px !important;
  }
  .tables .ltSlide_mo {
    width: 100%;
  }
  .tables .tbTxt {
    padding-left: 0;
    padding-top: 0px;
    width: 100%;
    height: auto;
  }
  .tables .tbTxt .more {
    margin-top: 60px;
  }
  .tables .tbTxt h1 {
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .tables .tbTxt br {
    display: none !important;
  }
  .tables .next {
    display: none !important;
  }
  .seating {
    display: flex !important;
    flex-direction: column;
    height: auto;
    padding: 48px 16px !important;
  }
  .seating .thirdGrid {
    margin-left: 0;
    flex-wrap: wrap;
  }
  .seating .thirdGrid > div {
    width: 100%;
  }
  .design .content {
    margin-top: 30px;
  }
  .design .content h2 {
    margin: 24px 0 16px !important;
  }
  .design .content > div {
    width: 100%;
  }
  .design .content > div .active div {
    height: 340px;
  }
  .design .content > div:nth-child(3) {
    transform: translateY(0);
    margin-top: 104px;
  }
  .design .content .d2 {
    background-position: bottom center !important;
  }
  .design .content .d4 {
    background-position: top center !important;
  }
  .instagram .ltSlide_mo {
    margin-top: 30px;
  }
  .instagram p {
    font-size: 18px !important;
    margin-top: 20px;
  }
  footer {
    padding: 40px 0;
  }
  footer .layout {
    text-align: center;
    display: block;
  }
  footer .layout > div {
    width: auto;
    margin-right: 0;
    text-align: center !important;
    margin-bottom: 16px;
  }
  footer .layout > div h2 {
    font-size: 16px !important;
  }
  footer .layout > div h1 {
    margin-top: 5px;
    font-size: 36px !important;
  }
  footer .layout > div:nth-last-child(1) {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */